header-wrapper {
    width:1100px;
    margin:10 auto 10px;
    border:1px solid #446688;
    }
    #header {
    margin: 5px;
    border: 1px solid #446688;
    text-align: center;
    color:#eeeeee;
    }
    #header h1 {
    margin:5px 5px 0;
    padding:15px 20px .25em;
    line-height:1.2em;
    text-transform:uppercase;
    letter-spacing:.2em;
    font: normal bold 200% 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
    }
.title{
    color: yellow;
}
.description{
    color: grey;
}
footer{
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 2px;
}
.nav-link{

    border-color: grey;
}
.nav-link:hover{
    background: yellow;
}
.blog{
    border-radius: 10px;
    background: yellow;
    border-style: dotted;
    border-color: orange;
}
a{
    font-family: 'Courier New', Courier, monospace;
}
body{
    position: relative;
    padding-bottom: 3.5em;
    min-height: 100vh;
}