header-wrapper {
    width:1100px;
    margin:10 auto 10px;
    border:1px solid #446688;
    }
    #header {
    margin: 5px;
    border: 1px solid #446688;
    text-align: center;
    color:#eeeeee;
    }
    #header h1 {
    margin:5px 5px 0;
    padding:15px 20px .25em;
    line-height:1.2em;
    text-transform:uppercase;
    letter-spacing:.2em;
    font: normal bold 200% 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
    }
.title{
    color: yellow;
}
.description{
    color: grey;
}
footer{
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 2px;
}
.nav-link{

    border-color: grey;
}
.cono{
    background: yellow;
}
.blog{
    border-radius: 10px;
    background: yellow;
    border-style: dotted;
    border-color: orange;
}
a{
    font-family: 'Courier New', Courier, monospace;
}
body{
    position: relative;
    padding-bottom: 3.5em;
    min-height: 100vh;
    background: seagreen;
}
.cajitas{
    background: white;
    border-style: groove;
    border-color: black;
    color: black;
    width: 250px;
    height: 200px;
}
h5{
    text-align: left;
}
.frontend{
    text-align: left;
}
.frontend_tit{
    color: black;
    
}
.perfil{
    text-align: center;
    position: absolute;
    left: 595px;
}
.cajitagrande{
    text-align: center;
    width: 670px;
    height: 200px;
    background: black;
    border-style: groove;
    border-color: white;
    color: white;
    
}
ul li{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    
}
.progress{
    width: 190px;
}
.cajitas ul li{
    color: green;
}
.foto{
    text-align: left;
    width: 130px;
    height: 130px;
    position: absolute;
    left: 560px;
    top: 110px;
}
.herramientas{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h6{
    font-size: 5px;
}
.cajita_medio{
    background: white;
    border-style: groove;
    border-color: black;
    color: black;
    width: 250px;
    height: 240px;
}
@media screen and (max-width: 480px){
    .cajita_medio{
        background-color: azure;

    }
    .foto{
        position: absolute;
        top: 340px;
        left: 175px
    }
    .perfil{
        position: absolute;
        top: 314px;
        left: 210px;
    }
    .herramientas{
        display: none;
    }
    .cajitagrande{
        display: none;
    }
    .cajitas{
        margin: auto;
    }
    .cajita_medio{
        margin: auto;
    }
    .bc{
        text-align: center;
    }
    .frontend_tit{
        text-align: center;
    }
}