.izquierda{
    border-color: yellow;
    border-style: dashed;
    border-width: 1px;
}
body{
    background: yellowgreen;
}
#slidesshowImg{
    height: 700px;
    object-fit: cover;
    
}
/* contenido que se muestra encima de la imagen*/
.carousel-caption{
    text-align: center;
    top: 10%;
    bottom: auto;
    
}
#tmundo{
   color: yellow;
}
.arrowDown{
    margin-top: 25%;
    animation: bounce 3s infinite;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY-(30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
.cajas{
    background: black  ;
    border-color: orange;
    border-style: dotted;
    border-radius: 10px;
    color: yellow;
    padding-left: 50px;
    bottom: 10px;
    
}
ul li{
    color: ghostwhite;
}

.tit_serv{
    text-align: center;
    color: orange;
    border-bottom: black;
    background: black;
}
footer{
    text-align: center;
    background: white;
}
.tit_danya{
    color: green;
}
.contenido_danya{
    color: rgb(161, 153, 136);
    background: white;
    border-radius: 50px;
    border-style: dashed;
    border-color: yellow;
}
.nav-link{

    border-color: grey;
}
.nav-link:hover{
    background: yellow;
}
.font-caja{
    color: green;
}
ul{
    color: white;
}
.portafolio{
    border-radius: 10px;
    border-style: double solid;
    border-color: orange;
}
.navbar{
    background: black;
}
header{
    background: black;
}
head{
    background: black;
}
a{
    font-family: 'Courier New', Courier, monospace;
}
footer{
    display: none;
}

#contactame{
    color: orange;
    text-align: center;
    font-family: arial;
}
#nombre{
	color: black;
	font-size: 2em;
	padding-left: 40px;
}
#e1{
    color: black;
    text-decoration: none;

}
#e1:hover{
    color: yellow;
    text-decoration: underline dotted;
    font-size: 1.1em;
}
#e2{
    color: white;
    text-decoration: none;
}
#e2:hover{
    color: yellow;
    text-decoration: underline dotted;
    font-size: 1.1em;
}     
#e3{
    color: white;
    text-decoration: none;
}
#e3:hover{
    color: yellow;
    text-decoration: underline dotted;
    font-size: 1.1em;
}
#e4{
    color: white;
    text-decoration: underline dotted;
}
#e4:hover{
    color: yellow;
    text-decoration: underline dotted;
   
}
#link{
	float: right;
	top: 23px;
	right: 20px;
	position: absolute;
	font-size: 2em;
	color: white;
	box-shadow: 0px 8px 5px 4px;
}
aside{
    width: 70%;
    min-width: 70%;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
}
section{
    width: 70%;
    min-width: 70%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
label{
    width: 130px;
    display: inline-block;
    margin-bottom: 9px;
}
fieldset{
  
    text-align: center;
    margin-bottom: 9px;
    left: 330px;
}

.labeles{
    color: black;
}
#mas{
    font-family: arial;
    color: white;
}
#env{
    border-radius: 5px;
    border-style: solid;

    text-decoration: none;
   
    padding: 2px;
    position: absolute;
    top: 280px;
}
#men{
    position: absolute;
     top: 278px;
     left: 288px;
}